body {
  width:100%;
  height:100%;
  margin:0 auto;
  text-align:center;
  font-family:sans-serif;
}

h2, h3, h3 {
  font-weight:normal;
}

.scatterplot-graph {
  background:#fff;
  box-shadow:8px 8px 5px #ccc;
}

.axis text {
  font: 14px sans-serif;
  fill:#000;
}

circle {
  opacity: 0;
  fill:#a6dba0;
  stroke:#008837;
}

circle.dope {
  fill:#c2a5cf;
  stroke:#7b3294;
}

circle.dope-selected {
  fill:#7b3294;
}

circle.no-dope {
  fill:#a6dba0;
  stroke:#008837;
}

circle.no-dope-selected {
  fill:#008837;
}

.tooltip {
  width:250px;
  border-radius:10px;
  position:absolute;
  pointer-events:none;
  display:none;
}

.tooltip-dope {
  background: #c2a5cf;
  border:1px solid #7b3294;
}

.tooltip-no-dope {
  background:#a6dba0;
  border:1px solid #008837;
}

.tooltip p, .tooltip h4 {
  padding:0 10px;
}

.bg-text {
  fill:#000;
}

.bg-text-headline, .bg-text-answer {
  font-size:40px;
}

.bg-text-question {
  font-size:26px;
}